{% extends "base.html" %}
{% block content %}

  <div>
    <p>{{team.name}}</p>
    <hr>
  <p>Fixtures</p>

  {% for fixture in fixtures %}
    <p>{{fixture.home_team.name}} {{fixture.home_score}}</p>
    <p>{{fixture.away_team.name}} {{fixture.away_score}}</p>

{% endfor %}

<p><a href="/teams/{{team.id}}/edit">Edit Team</a></p>
</div>

<div class="buttons">

  <form class="delete-form" action="/teams/{{team.id}}/delete" method="POST">
    <button class="trash-button"><i class="fa fa-trash-o fa-1x" style="color:red" aria-hidden="true"></i></button>
  </form>
</div>
</div>
</div>
{% endblock %}
