{% extends "base.html" %}
{% block content %}

  <div>
    <h1 class="single_team_heading">{{team.name}}</h1>
  <h2 class="single_team_fixtures">Fixtures</h2>
    <div class="fixture_container">
      {% for fixture in fixtures %}
      <div class="fixture">
          <div class="fixture_content">
            <div class="fixture_content_inner">
              <div class="fixture_home_team">{{fixture.home_team.name}}</div>
              <div class="fixture_score"> {{fixture.home_score}} - {{fixture.away_score}}</div> 
              <div class="fixture_away_team">{{fixture.away_team.name}}</div>
            </div>
            </div>
            </div>
         {% endfor %}

</div>
<div class="edit_button_controller">
<p class="edit_button"><a href="/teams/{{team.id}}/edit">Edit Team</a></p>
</div>

<div class="delete_button">
<form class="delete-form" action="/teams/{{team.id}}/delete" method="POST">
    <button class="trash-button">Delete Team</button>
  </form>
</div>
{% endblock %}
