html > body { 
    margin:0 auto;
    background: url(how-to-create-cool-website-backgrounds-the-ultimate-guide.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'League Spartan Bold', arial;
  }

  .main_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 70%;
  }
  .home_button {
      background-color:#00ff85 ;
      padding: 8px;
  }

  .home_button_container{
      display: flex;
      justify-content: center;
  }
  header {
      background-color:#38003c;
      width: 100%;
      padding: 10px;
      display: flex;
      margin: 0%;
      justify-content: space-between;
  }

  .header img {
    width: 100px;
    height: 25px;
  }

  ul {
        
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#38003c;
  }

  li{
    float: left;  
}

li a {
    display: block;
    color: white;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'League Spartan Bold', arial;

  }
  
  li a:hover {
    background-color:#00ff85;
  }
.all_team_heading{
    color: white;
    text-align: center;
}
.team_quote{
    color: white;
    text-align: center;
    font-style: italic;
}
.team_quote_name{
    color: white;
    text-align: center;
}
  .team_container {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 30px;
    
    }
.team_name{
    min-width: 150px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 15px;
    background-color: #00ff85;
    font-size: 20px;
}
  .fixture_container{
      flex-direction: column;
      display: flex;
      align-items: center;
      gap: 30px;
      padding-top: 30px;

  }
  .fixture {
      background-color: azure;
      display: inline-flex;
      flex-direction: row;
  }
  .fixture_content{
      display: flex;
      align-items: center;
      
  }
  .fixture_content_inner{
      align-items: center;
      text-align: center;

}
  .fixture_home_team{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:#38003c ;
      padding: 8px;
      color: white;
      font-size: 20px;
  }
  .fixture_score{
      min-width: 150px;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      padding: 15px;
    background-color: #00ff85;
    font-size: 20px;     


  }
  .fixture_away_team{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#38003c ;
    padding: 8px;
    color: white;
    font-size: 20px;
  }

  .new_team{
   
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    color: white;
    font-size: 20px;

  }

  .input_team_name{
    border: 4px solid #00ff85;
    border-radius: 4px;
    padding: 12px 20px;
  }
  .new_team_button{
    background-color: #00ff85;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .new_team_button:hover {opacity: 1}

  .single_team_heading{
    color: white;
    text-align: center;}

  .single_team_fixtures{
    color: white;
    text-align: center;}

.edit_button_controller{
    display: flex;
    justify-content: center;}

.edit_button{background-color:#00ff85 ;
    padding: 8px;}

.delete_button{
    display: flex;
    justify-content: center;
    padding: 15px;}
  