html > body { 
    margin:0 auto;
    background: url(how-to-create-cool-website-backgrounds-the-ultimate-guide.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'League Spartan Bold', arial;
  }

  .main_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 70%;
  }
  .home_button {
      background-color:#00ff85 ;
      padding: 8px;
  }

  .home_button_container{
      display: flex;
      justify-content: center;
  }
  header {
      background-color:#00ff85;
      width: 100%;
      padding: 10px;
      display: flex;
      margin: 0%;
      justify-content: space-between;
  }

  .header img {
    width: 100px;
    height: 25px;
    
  }

  ul {
        
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00ff85;
  }

  li{
    float: left;  
}

li a {
    display: block;
    color: white;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'League Spartan Bold', arial;

  }
  
  li a:hover {
    background-color: rgb(81, 43, 104);
  }

  .team_container {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 30px;
    
    }
.team_name{
    min-width: 150px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 15px;
    background-color: #00ff85;
    font-size: 20px;
}
  .fixture_container{
      flex-direction: column;
      display: flex;
      align-items: center;
      gap: 30px;
      padding-top: 30px;

  }
  .fixture {
      background-color: azure;
      display: inline-flex;
      flex-direction: row;
  }
  .fixture_content{
      display: flex;
      align-items: center;
      
  }
  .fixture_content_inner{
      align-items: center;
      text-align: center;

}
  .fixture_home_team{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:#38003c ;
      padding: 8px;
      color: white;
      font-size: 20px;
  }
  .fixture_score{
      min-width: 150px;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      padding: 15px;
    background-color: #00ff85;
    font-size: 20px;     


  }
  .fixture_away_team{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#38003c ;
    padding: 8px;
    color: white;
    font-size: 20px;
  }
  