<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://allfont.net/allfont.css?fonts=league-spartan" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


  <title>Kickabout Score Checker</title>
</head>
  <body>
    <header>
      <div class="header">
        <a href="/">
        <img src="{{url_for('static',filename = '1.png')}}" alt="logo" />
        </a>
      </div>
      <nav>
        <ul class="menu">
          <li><a href="/teams">All Teams</a></li>
          <li><a href="/teams/new">Add Your Team</a></li>
          <li><a href="/fixtures">All Fixtures</a></li>
          <li><a href="/fixtures/new">Add a Fixture</a></li>
        </ul>
      </nav>
      

    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>